/* audiowide-regular - latin */
@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    src: url('custom_Minecraft.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('custom_Minecraft.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('custom_Minecraft.woff2') format('woff2'), /* Super Modern Browsers */
         url('custom_Minecraft.woff') format('woff'), /* Modern Browsers */
         url('custom_Minecraft.ttf') format('truetype'), /* Safari, Android, iOS */
         url('custom_Minecraft.svg#Minecraft') format('svg'); /* Legacy iOS */
  }