/* The navigation menu */
 .navbar {
  overflow: hidden;
  text-align: center;
  background-color: #333;
  display: inline-block;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnavbtn:hover {
  display: inline-block;
  float: none;
  text-align: center;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  float: none;
  text-align: center;
  background-color: red;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
  color: black;
}
nav {
  display: block;
  text-align: center;
}


/*DRP GO*/

/* The navigation menu */
.navbar-drp {
  overflow: hidden;
  text-align: center;
  background-color: #333;
  display: inline-block;
}

/* Navigation links */
.navbar-drp a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav-drp {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav-drp .subnavbtn-drp {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnavbtn-drp:hover {
  display: inline-block;
  float: none;
  text-align: center;
}

/* Add a red background color to navigation links on hover */
.navbar-drp a:hover, .subnav-drp:hover .subnavbtn-drp {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content-drp {
  display: none;
  position: absolute;
  float: none;
  text-align: center;
  background-color: red;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content-drp a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content-drp a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav-drp:hover .subnav-content-drp {
  display: block;
}
nav {
  display: block;
  text-align: center;
}










 /* Style the navbar */
 #navbar-pro {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar-pro a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
} 