nav {
    font-size: 50px;
    text-align: center;
    font-family: 'Audiowide';
}
nav h1{
    font-size: 70%;
    text-align: center;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
}
nav h1:hover{
    font-size: 70%;
    text-align: center;
    font-family: 'Bebas Neue';
    color: silver;
}
/*#nav-bar{
    background: linear-gradient(to left, #610b0b, #0f42af);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    float: none;
}*/
nav {
    font-size: 10px;
    text-align: left;
    font-family: 'Audiowide';
}
#nav-bar{
    background: linear-gradient(to top, #660c0c, #ec0202);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    float: none;
}


/*NAV Dropdown Menü*/

/* Dropdown Button */
.dropbtn {
    background-color: #0cdfdf;
    color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border: 5px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    text-align: left;
    display: inline-block;
    font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #c79714;
    min-width: 160px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(211, 214, 15);
    border-radius: 8px;
    text-align: left;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    text-align: left;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0c8bdf;
    text-align: left;
}



/* Dropdown Button */
.mc-dropbtn {
    background-color: #0cdfdf;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}
  
/* The container <div> - needed to position the dropdown content */
.mc-dropdown {
    position: relative;
    text-align: left;
    display: inline-block;
    font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.mc-dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #c79714;
    min-width: 160px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 270px;
    border-radius: 8px;
}
/* Links inside the dropdown */
.mc-dropdown-content a {
    color: black;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.mc-dropdown-content a:hover {
    background-color: rgb(211, 214, 15);
    border-radius: 8px;
    text-align: left;
}
/* Show the dropdown menu on hover */
.mc-dropdown:hover .mc-dropdown-content {
    display: block;
    text-align: left;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.mc-dropdown:hover .mc-dropbtn {
    background-color: #0c8bdf;
    text-align: left;
}