.team-all {
    display: block;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    
}
.team-all-bg {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 15px;
}
.team-all img {
    height: 270px;
    width: 203px;
}



/**/

.team-minister {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
    background-color: #e9e9e9;
}
.team-minister-role-desciption {
    font-family: "Bitter";
}
.team-minister-role-desciption h3 {
    font-family: "Merriweather";
    color: rgb(144, 11, 11);
    font-weight: 900;
    font-size: 25px;
    font-style: "normal";
    text-decoration-color: red;
}
.team-minister-user-all {
    display: block;
    text-align: center;
}
.team-minister-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.team-minister-user-subname {
    font-family: "Shantell Sans", cursive;
}

/**/

.team-schullleiter {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
    background-color: #ffffff;
}
.team-schullleiter-user-all {
    display: block;
    text-align: center;
}
.team-schullleiter-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

/**/

.team-ministeriumsangestellte {
    background-color: #e9e9e9;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
}
.team-ministeriumsangestellte-user-all {
    display: block;
    text-align: center;
}
.team-ministeriumsangestellte-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

/**/

.team-lehrkräfte {
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
}
.team-lehrkräfter-user-all {
    display: block;
    text-align: center;
}
.team-lehrkräfte-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

/**/

.team-quiditchkapitäne {
    background-color: #e9e9e9;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
}
.team-quiditchkapitäne-user-all {
    display: block;
    text-align: center;
}
.team-quiditchkapitäne-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

/**/

.team-inqisitonskommando {
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
}
.team-inqisitonskommando-user-all {
    display: block;
    text-align: center;
}
.team-inqisitonskommando-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.fa-brands {
    color: red;
}
.fa-solid {
    color: red;
}