.team-all {
    display: block;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.team-all-bg {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 15px;
}
.team-all img {
    height: 270px;
    width: 203px;
}
.fa-brands {
    color: red;
}
.fa-solid {
    color: red;
}
.fa-brands:hover {
    color: blue;
}
.fa-solid:hover {
    color: blue;
}



.team-role-minister-prefix {
    display: block;
    background-color: darkred;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-minister-prefix:hover {
    display: block;
    background-color: darkred;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-youtuber-prefix {
    display: block;
    background-color: red;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-youtuber-prefix:hover {
    display: block;
    background-color: red;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-tagesprophet-prefix {
    display: block;
    background-color: purple;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-tagesprophet-prefix:hover {
    display: block;
    background-color: purple;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-abteilungsleiter-prefix {
    display: block;
    background-color: rgb(2, 98, 136);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-abteilungsleiter-prefix:hover {
    display: block;
    background-color: rgb(2, 98, 136);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-ministeriumsabteilung-prefix {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-ministeriumsabteilung-prefix:hover {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-aurorenabteilung-prefix {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-aurorenabteilung-prefix:hover {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-magischestrafverfolgung-prefix {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}
.team-role-magischestrafverfolgung-prefix:hover {
    display: block;
    background-color: rgb(31, 102, 14);
    font-family: 'Ubuntu';
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 1px;
}

/*ROLLEN ENDE*/

.team-minister {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
    background-color: #e9e9e9;
}
.team-minister-role-desciption {
    font-family: "Bitter";
}
.team-minister-role-desciption h3 {
    font-family: "Merriweather";
    color: rgb(144, 11, 11);
    font-weight: 900;
    font-size: 35px;
    display: inline-block;
    font-style: "normal";
    text-decoration-color: red;
}
.team-minister-role-desciption h3:hover {
    font-family: "Merriweather";
    color: rgb(222, 29, 29);
    font-weight: 900;
    font-size: 35px;
    display: inline-block;
    
    font-style: "normal";
    text-decoration-color: red;
}
.team-minister-user-all {
    display: block;
    text-align: center;
}
.team-minister-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.team-minister-user-sm {
    display: block;
    font-size: 20px;
}


/*Minister ENDE*/

.team-abteilungsleiter {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    z-index: 1;
    display: block;
    background-color: #ffffff;
}

.team-abteilungsleiter-role-desciption {
    font-family: "Bitter";
}
.team-abteilungsleiter-role-desciption h3 {
    font-family: "Merriweather";
    color: rgb(144, 11, 11);
    font-weight: 900;
    font-size: 35px;
    display: inline-block;
    font-style: "normal";
    text-decoration-color: red;
}
.team-abteilungsleiter-role-desciption h3:hover {
    font-family: "Merriweather";
    color: rgb(222, 29, 29);
    font-weight: 900;
    font-size: 35px;
    display: inline-block;
    
    font-style: "normal";
    text-decoration-color: red;
}
.team-abteilungsleiter-user-all {
    display: block;
    text-align: center;
}
.team-abteilungsleiter-user {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.team-abteilungsleiter-user-sm {
    display: block;
    font-size: 20px;
}